:root {
    --color-main-background: #282828;
    --color-alt-background: #1D2021;
    --color-main-text: #EBDBB2;
    --color-alt-text: #3C3836;
    --color-yellow: #FABD2F;
    --color-blue: #83A598;
    --color-orange: #FE8019;
    --color-green: #8EC07C;
    --color-purple: #B16286;
    --color-shadow: #3C3836;
    --color-border: #504945;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* altura minima de viewport */
    min-height: 100vh;
    
    /* establecer el alto de la linea */
    line-height: 1.6;

    /* establece la separacion de caracteres general */
    letter-spacing: 1px;

    /* establecemos el color de la fuente general */
    color: var(--color-main-text);

    /* establecer el color del fondo general */
    background-color: var(--color-main-background);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, h4 {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

ul {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* cada caja de contenido */
.container {
    background-color: var(--color-alt-background);
    border: 1px solid var(--color-border);
    border-radius: 0;
    padding: 3rem 2.5rem;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero-section {
    text-align: center;
    /*TODO: animacion */
}

.name {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-yellow);
    margin-bottom: 1rem;
}

.profession {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.capitalized-shadow {
    text-shadow: 2px 2px 0 var(--color-shadow);
    text-transform: capitalize;
}

.bio {
    margin-bottom: 2rem;
}

/* texto destacado */
.outstanding {
    padding-left: 0.5rem;
    border-left: 2px solid var(--color-purple);
}

.tech-stack {
    margin-bottom: 2rem;
}

.tech-stack .tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.cta-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}